*{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: center;
}


.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}



.icono{
    max-height: 50px; 
    margin-top: 50px;

}

.icono:hover{
    transition: 0.9s;
    transform: rotateZ(180deg);
}