*{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: center;
}


.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}



.icono{
    max-height: 50px; 
    margin-top: 50px;
    animation: spin 3s linear infinite;
}



@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }