<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>

    <!-- CUSTOM ERROR CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/error.css')}}">
    <!-- CUSTOM FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
</head>
<body>
    <main>
        <div class="centered">Error en la aplicacion!<br> Llamar a Sergio :( (A Andres no!)<br> <a href="/"><img class="icono" src="{{url_for('static',filename='img/refresh.png')}}" alt="REINICIAR"></a></div>
        
    </main>
</body>
</html>